@model List<Admin>
@{
    int index = 1;
}
<div class="card shadow">

    <div class="card-header">

        <div class="d-flex justify-content-between">

            <h4>Role Management</h4>

            <a asp-action="Create"
               class="btn btn-primary">

                Add New Admin

            </a>

        </div>

    </div>

    <div class="card-body">

        <table id="adminTable"
               class="table table-bordered">


            <thead>
                <tr>
                    <th>ID</th>
                    <th>Admin Code</th>
                    <th>Admin Email</th>
                    <th width="180">Action</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@index</td>

                        <td>@item.AdminCode</td>

                        <td>@item.Email</td>

                        <td>

                            <a asp-action="Edit"
                               asp-route-id="@item.Id"
                               class="btn btn-warning">

                                Edit

                            </a>

                            <a asp-action="Delete"
                               asp-route-id="@item.Id"
                               class="btn btn-danger"
                               onclick="return confirm('Delete this Admin?')">

                                Delete

                            </a>

                        </td>

                    </tr>

                    index++;
                }

            </tbody>

        </table>

    </div>

</div>

@section Scripts {

    <script>

        $(document).ready(function(){

            $('#adminTable').DataTable();

        });

    </script>

}